<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008-2011 Jo-Philipp Wich <xm@subsignal.org>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: index.htm 8408 2012-04-02 22:50:26Z jow $

-%>
<%+header%>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
function refreshPage(){
	document.getElementById("refresh").disabled = true;
	XHR.get('<%=luci.dispatcher.build_url("admin", "system", "admin", "xhr_the_data")%>', { status: 1 },
		function(x, info)
		{
			if (!info && x.responseText.search("UnikalusTekstinisStringasKitoTokioNiekurNera") != -1){
				location.href=location.href;
			}
			if(info.status != "1"){
				s = '<tr><td width="33%%" onmouseover="ShowHint(this, \'<%=translate("")%>\')" onmouseout="HideHint(this)" ><%=translate("Management status")%></td><td>Disabled</td></tr>';
				s += String.format('<tr><td width="33%%" onmouseover="ShowHint(this, \'<%=translate("")%>\')" onmouseout="HideHint(this)"><%=translate("Router serial number")%></td><td>%s</td></tr>' +
									'<tr><td width="33%%" onmouseover="ShowHint(this, \'<%=translate("")%>\')" onmouseout="HideHint(this)"><%=translate("Router LAN MAC address")%></td><td>%s</td></tr>'
									, info.serial_nbr, info.lan_mac);
			}else{
				s = '<tr><td width="33%%" onmouseover="ShowHint(this, \'<%=translate("")%>\')" onmouseout="HideHint(this)" ><%=translate("Management status")%></td><td>Enabled</td></tr>';
				s += String.format('<tr><td width="33%%" onmouseover="ShowHint(this, \'<%=translate("")%>\')" onmouseout="HideHint(this)"><%=translate("Connection state")%></td><td>%s</td></tr>' +
									'<tr><td width="33%%" onmouseover="ShowHint(this, \'<%=translate("")%>\')" onmouseout="HideHint(this)"><%=translate("Router serial number")%></td><td>%s</td></tr>' +
									'<tr><td width="33%%" onmouseover="ShowHint(this, \'<%=translate("")%>\')" onmouseout="HideHint(this)"><%=translate("Router LAN MAC address")%></td><td>%s</td></tr>' +
									'<tr><td width="33%%" onmouseover="ShowHint(this, \'<%=translate("")%>\')" onmouseout="HideHint(this)"><%=translate("Internet connection")%></td><td id = "avlblt">Checking...</td></tr>'
									, info.connection_state, info.serial_nbr, info.lan_mac);
			}
			ws = document.getElementById('monitoring_status');
			ws.innerHTML = '<table id="monitoring_status_table" width="100%" cellspacing="10" class="cbi-section-table">' + s;

			XHR.get('<%=luci.dispatcher.build_url("admin", "system", "admin", "xhr_availability")%>', { status: 1 },
				function(x, info)
				{
					if (!info && x.responseText.search("UnikalusTekstinisStringasKitoTokioNiekurNera") != -1){
						location.href=location.href;
					}
					if((e = document.getElementById('avlblt')))
					{
						e.innerHTML = info.availability;
					}
					document.getElementById("refresh").disabled = false;
				}
			);
		}
	);
}
AddWindowOnLoadEvent(refreshPage);
</script>

<fieldset class="cbi-section">
	<div id="monitoringBarsShow" class="overlayParent">
		<div class="overlayLegend"><%=translate("Status")%></div>
	</div>
	<div id="monitoring_status">
		<table id="monitoring_status_table" width="100%" cellspacing="10">
			<tr><td><em><%=translate("Collecting data...")%></em></td></tr>
		</table>
	</div>
</fieldset>
<fieldset class="cbi-section">
	<button id="refresh" type="button" class="cbi-button-refresh" style="float: right;" disabled onClick="refreshPage()"><%=translate("Refresh")%></button>
</fieldset>
