<%
local uci = require "luci.model.uci".cursor()
local ds = require "luci.dispatcher"
local translate, translatef = luci.i18n.translate, luci.i18n.translatef
local sys = require "luci.sys"
require "teltonika_lua_functions"

--check device with usb/microsd
local usb = luci.util.trim(luci.sys.exec("uci get hwinfo.hwinfo.usb"))
local microsd = luci.util.trim(luci.sys.exec("uci get hwinfo.hwinfo.microsd"))

--find all storage where are restore_point
local mnt = luci.sys.exec("find /mnt/*/restore-point/ -name '*.rp'")
mnt = tostring(mnt)
local mntList = mnt:split("\n")

--Restore_point file array with storage name, dir
local Table = {}
for i=1, #mntList do
	dirs = mntList[i]:split("/")
	Table[i] = {}
	Table[i][1] = mntList[i]
	Table[i][2] = dirs[3]
	Table[i][3] = dirs[#dirs]
end

--storage array
local e = 0
dev = {}
dev[1] = {}
dev[1][1] = Table[1][2]
for i=1, #Table do
	for a=1, #dev do
		if dev[a][1] == Table[i][2] then
			e=1
		end
	end
	if e == 0 then
		dev[#dev+1] = {}
		dev[#dev][1] = Table[i][2]
	else
		e=0
	end
end

--add storage label
for a=1, #dev do
	devtitle = luci.sys.exec("blkid | grep \"" .. tostring(dev[a][1]) .. "\" | awk -F 'LABEL=\"' '{print $2}' | awk -F'\"' '{print $1}'")
	if devtitle == "" or devtitle == nil or devtitle == "\n" then
		dev[a][2] = dev[a][1]
	else
		dev[a][2] = devtitle
	end
end
%>

<%+header%>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script>
function show() {
	var val = document.getElementById('cbid.system.restore.dev').value;
	var rp = document.getElementById('cbid.system.restore.rp');
	var Table = <%=luci.http.write_json(Table)%>;
	var test=""
	for (var i = 0; i < Table.length; i++) {
		if(Table[i][1]==val){
			test +=String.format('<option value="%s" id="%s" name="%s">%s</option>', Table[i][0], Table[i][1], Table[i][1], Table[i][2]);
		}
	}
	rp.innerHTML = test;
}
</script>
<div class="cbi-map" id="cbi-monitoring">
	<h2><a><%=translate("Load Restore Point")%></a></h2>
	<%if tonumber(usb) == 1 or tonumber(microsd) == 1 then%>
	<p>
		<fieldset class="cbi-section">
			<legend><%=translate("Restore Point")%></legend>
			<form method="post" name="profile-add-form" style="padding-top: 9px;" action="<%=ds.build_url('admin/system/restorepoint/apply')%>">
				<% if #dev <= 1 then %>
					<span onmouseout="HideHint(this)" style="margin:10px;" onmouseover="ShowHint(this, '<%=translate('No device created were found')%>')"><%=translate("There are no device")%> </span>
				<% else %>
					<span onmouseout="HideHint(this)" style="margin:10px;" onmouseover="ShowHint(this, '<%=translate('Available device')%>')"><%=translate("Device")%> </span>
					<select size="1" name="cbid.system.restore.dev" id="cbid.system.restore.dev" onchange="show()" class="cbi-input-select">
						<% for i=1, #dev -1 do %>
								<option value="<%=escapeHTML(dev[i][1])%>" id="<%=escapeHTML(dev[i][1])%>"><%=escapeHTML(dev[i][2])%></option>
						<% end %>
					</select>
					<span onmouseout="HideHint(this)" style="margin:10px;" onmouseover="ShowHint(this, '<%=translate('Specify file to load Restore Point')%>')"><%=translate("File")%> </span>
					<select size="1" name="cbid.system.restore.rp" id="cbid.system.restore.rp" class="cbi-input-select">
					</select>
					<script type="text/javascript" >
						show();
					</script>
					<input type="hidden" name="step" value="1" />
					<input class="cbi-button" type="submit" value="<%=translate('Load')%>" name="load-restore-point-button">
				<% end %>
			</form>
		</fieldset>
	</p>
	<%end%>
		<p>
		<fieldset class="cbi-section">
			<legend><%=translate("Restore Point")%></legend>
			<form method="post" enctype="multipart/form-data" action="<%=ds.build_url('admin/system/restorepoint/apply')%>">
				<span onmouseout="HideHint(this)" style="margin:10px;" onmouseover="ShowHint(this, '<%=translate('Specify file to load Restore Point')%>')"><%=translate("File")%> </span>
				<input type="file" name="image" id="image" />
				<input type="hidden" name="step" value="1" />
				<input class="cbi-button" type="submit" value="<%=translate('Load')%>" name="load-button">
			</form>
		</fieldset>
	</p>
	<p>
        <i>*Please note, that the router can only load restore point which was created by this router.</i>
	</p>
</div>
<div class="cbi-map" id="test">
</div>
<%+footer%>
