<%-
local ds = require "luci.dispatcher"

local rowcnt = 1
function rowstyle()
	rowcnt = rowcnt + 1
	return (rowcnt % 2) + 1
end

function width(o)
	if o.width then
		if type(o.width) == 'number' then
			return ' style="width:%dpx"' % o.width
		end
		return ' style="width:%s"' % o.width
	end
	return ''
end

function wimax_exist()
	local f=io.open("/tmp/run/wimax","r")
	if f~=nil then io.close(f) return true else return false end
end

local sectionForJS
for i, k in ipairs(self:cfgsections()) do
	section = k
	local ifname = self.map.uci:get(self.config, section, "ifname")
	if (ifname=="usb0") then
		sectionForJS = section
	end
end
-%>

<!-- tblsection -->
<script type="text/javascript">//<![CDATA[

function get_mode(){
	var mode;
	var list = document.getElementById("cbid.network.wan.mode");

	if ( list ) {
		var index = list.selectedIndex;
		mode = list[index].value
	}

	return mode;
}

function check_wimax(modem){
	if (!modem){
		show_message("err: WiMAX USB modem not found. Please plug-in WiMAX modem or disable WiMAX conection");
	}
}

function hide_show(){
	var radio = document.getElementsByName("main_wan");
	var bridge = "<%= self.map.bridge_on and 1 or 0 %>";
	var mobile_section = "<%= get_wan_section("type", "mobile") %>";
	var forbid_mobile = false;

	if ((bridge != "1" || mobile_section != "wan")) {
		for (i = 0; i <= radio.length; i++){
			e = radio[i];
			if (e) {
				if (e.value == mobile_section && bridge == "1") {
					// Disable all becouse mobile in bridge mode selected as wan
					if (e.checked) {
						for (i = 0; i <= radio.length; i++){
							e = radio[i];
							if (e) {
								if (e.value){
									var backup_enb = document.getElementById("cbid.network." + e.value + ".enabled");
									backup_enb.disabled=true;
								}
							}
						}
						return
					}
				}
				else {
					if (e.checked) {
						if (e.value){
							var backup_enb = document.getElementById("cbid.network." + e.value + ".enabled");
							var mode = get_mode();
							backup_enb.disabled=true;

							if ( mode != "balanced" ){
								backup_enb.checked=false;
							}
						}
					}
					else {
						if (e.value){
							var backup_enb = document.getElementById("cbid.network." + e.value + ".enabled");
							backup_enb.disabled=false;
						}
					}
				}
			}
		}
	}
}

function custom_cbi_row_swap(elem, up, store)
{
	var tr = elem.parentNode;
	while (tr && tr.nodeName.toLowerCase() != 'tr')
		tr = tr.parentNode;

	if (!tr)
		return false;

	var table = tr.parentNode;
	while (table && table.nodeName.toLowerCase() != 'table')
		table = table.parentNode;

	if (!table)
		return false;

	var s = up ? 3 : 1;
	var e = up ? table.rows.length : table.rows.length - 1;

	for (var idx = s; idx < e; idx++)
	{
		if (table.rows[idx] == tr)
		{
			if (up)
				tr.parentNode.insertBefore(table.rows[idx], table.rows[idx-1]);
			else
				tr.parentNode.insertBefore(table.rows[idx+1], table.rows[idx]);

			break;
		}
	}

	var ids = [ ];
	for (idx = 1; idx < table.rows.length; idx++)
	{
		table.rows[idx].className = table.rows[idx].className.replace(
			/cbi-rowstyle-[12]/, 'cbi-rowstyle-' + (1 + (idx % 2))
		);

		if (table.rows[idx].id && table.rows[idx].id.match(/-([^\-]+)$/) )
			ids.push(RegExp.$1);
	}

	var input = document.getElementById(store);
	if (input)
		input.value = ids.join(' ');

	return false;
}

function get_mode(){
	var mode;
	var list = document.getElementById("cbid.network.wan.mode");

	if ( list ) {
		var index = list.selectedIndex;
		mode = list[index].value
	}

	return mode;
}
function check_ip(){
	var ipaddr;
	var section = "<%=sectionForJS%>";
	if (e = document.getElementById("cbi-network-"+ section +"-ipaddr")){
		if(e.innerHTML.indexOf('401') >= 0) {
			ipaddr = '<a href="<%=ds.build_url('admin/system/admin/wimax')%>" class="wimaxErrorLink" ><span>' + 'Invalid WiMAX password. Click here to change it' + '</span>';
			e.innerHTML = ipaddr;
		}
	}
}
var testWimax = "<%=wimax_file %>";
if ( !testWimax )
	AddWindowOnLoadEvent(check_ip);

XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "network", "wan", "xhr_the_data")%>', { status: 1 },
	function(x, info)
	{
		if (!info && x.responseText.search("UnikalusTekstinisStringasKitoTokioNiekurNera") != -1){
			location.href=location.href;
		}

		if ((e = document.getElementById('cbi-network-wan-ipaddr')))  {
			e.innerHTML = info.wan_ip;
		}

		if ((e = document.getElementById('cbi-network-wan2-ipaddr')))  {
			e.innerHTML = info.wan2_ip;
		}

		if ((e = document.getElementById('cbi-network-wan3-ipaddr')))  {
			e.innerHTML = info.wan3_ip;
		}
	}
)
//]]></script>

<fieldset class="cbi-section" id="cbi-<%=self.config%>-<%=self.sectiontype%>">
	<% if self.title and #self.title > 0 then -%>
		<legend><%=self.title%></legend>
	<%- end %>
	<%- if self.sortable then -%>
		<input type="hidden" id="cbi.sts.<%=self.config%>.<%=self.sectiontype%>" name="cbi.sts.<%=self.config%>.<%=self.sectiontype%>" value="" />
	<%- end -%>
	<div class="cbi-section-descr"><%=self.description%></div>
	<div class="cbi-section-node">
		<%- local count = 1 -%>
		<table class="cbi-section-table">
			<tr class="cbi-section-table-titles">
			<%- if not self.anonymous then -%>
				<%- if self.sectionhead then -%>
					<th class="cbi-section-table-cell"><%=self.sectionhead%></th>
				<%- else -%>
					<th>&#160;</th>
				<%- end -%>
			<%- end -%>
			<th></th>
			<%- for i, k in pairs(self.children) do if not k.optional then -%>
				<th class="cbi-section-table-cell"<%=width(k)%> onmouseover="ShowHint(this, '<%=translate(k.description)%>')" onmouseout="HideHint(this)">
				<%- if k.titleref then -%>
					<a title="<%=self.titledesc or translate('Go to relevant configuration page')%>" class="cbi-title-ref" href="<%=k.titleref%>">
				<%- end
				if k.title == "Mode" then
					local balanced = self.map.uci:get("load_balancing", "general", "enabled") or "0"
				-%>
					<select class="cbi-input-select" onchange="cbi_d_update(this.id);" id="cbid.network.wan.mode" name="cbid.network.wan.mode" size="1">
						<option id="cbi-network-wan-mode-backup" value="backup" <%= ifattr(not balanced ~= "1", "selected", "selected") %>>WAN Failover</option>
						<option id="cbi-simcard-wan-mode-balanced" value="balanced" <%= ifattr(balanced == "1", "selected", "selected") %>>Load Balancing</option>
					</select>
				<%- else -%>
					<%-=k.title-%>
				<%- end -%>
				<%- if k.titleref then -%></a><%- end -%>
				</th>
			<%- count = count + 1; end; end; if self.sortable then -%>
				<th class="cbi-section-table-cell" onmouseover="ShowHint(this, '<%=self.sorthint%>')" onmouseout="HideHint(this)"><%=translate("Sort")%></th>
			<%- end; if self.extedit or self.addremove or self.addbutton then -%>
				<th class="cbi-section-table-cell">&#160;</th>
			<%- count = count + 1; end -%>
			</tr>
			<%- local isempty = true
				for i, k in ipairs(self:cfgsections()) do
					section = k
					isempty = false
					scope = { valueheader = "cbi/cell_valueheader", valuefooter = "cbi/cell_valuefooter" }
			-%>
			<% local ifname = self.map.uci:get(self.config, section, "ifname")
				local if_enabled = self.map.uci:get(self.config, section, "enabled") or "1"
				local wimax_file = wimax_exist()
				if ifname~="usb0" or (ifname=="usb0" and if_enabled == "1") or (ifname=="usb0" and wimax_file) then
			%>
			<tr class="cbi-section-table-row<% if self.extedit or self.rowcolors then %> cbi-rowstyle-<%=rowstyle()%><% end %>" id="cbi-<%=self.config%>-<%=section%>">
				<%
				if ifname == "eth1" then%>
					<th style="vertical-align: middle;"><img title="Wired" src="<%=resource%>/icons/vlan.png"></th>
				<%elseif ifname == "wlan0" then%>
					<th style="vertical-align: middle;"><img title="Wifi" src="<%=resource%>/icons/wifi.png"></th>
				<%elseif ifname == "usb0" then%>
					<script>
						check_wimax("<%=wimax_file %>");
					</script>
					<th style="vertical-align: middle;"><img title="WiMAX" src="<%=resource%>/icons/wimax.png"></th>
					
				<%elseif ifname == "wwan-usb0" then%>
					<th style="vertical-align: middle;"><img title="USB Modem" src="<%=resource%>/icons/usb_modem_enabled.png"></th>
				<%else%>
					<th style="vertical-align: middle;"><img title="Mobile" src="<%=resource%>/icons/3G.png"></th>
				<% end
				if not self.anonymous then -%>
					<th><h3><%=(type(self.sectiontitle) == "function") and self:sectiontitle(section) or k%></h3></th>
				<%- end %>

				<%-
					for k, node in ipairs(self.children) do
						if not node.optional then
							node:render(section, scope or {})
						end
					end
				-%>

				<%- if self.sortable then
					if section ~= "wan" then-%>
						<td class="cbi-section-table-cell">
							<input class="cbi-button cbi-button-up" style="margin: 0px;" type="button" value=""  onclick="return custom_cbi_row_swap(this, true, 'cbi.sts.<%=self.config%>.<%=self.sectiontype%>')" alt="<%:Move up%>" title="<%=translate('Move up')%>" />
							<input class="cbi-button cbi-button-down" style="margin: 0px;" type="button" value=""  onclick="return custom_cbi_row_swap(this, false, 'cbi.sts.<%=self.config%>.<%=self.sectiontype%>')" alt="<%:Move down%>" title="<%=translate('Move down')%>" />
						</td>
					<%- else -%>
						<td class="cbi-section-table-cell">
						</td>
				<%-	end
				end -%>

				<%- if self.extedit or self.addremove or self.addbutton then -%>
					<td class="cbi-section-table-cell">
						<%- if self.addbutton then -%>
							<input class="cbi-button cbi-button-edit" type="button" value="<%=self.addbuttontittle%>"
							<%- if type(self.addbutton) == "string" then
							%> onclick="location.href='<%=self.addbutton:format(section)%>'"
							<%- elseif type(self.addbutton) == "function" then
							%> onclick="location.href='<%=self:extedit(section)%>'"
							<%- end
							%> alt="<%:Edit%>" title="<%:Edit%>" />
						<%- end; if self.extedit then -%>
							<input class="cbi-button cbi-button-edit" type="button" value="<%:Edit%>" style="margin: 0px;"
							<%- if type(self.extedit) == "string" then
							%> onclick="location.href='<%=self.extedit:format(section)%>'"
							<%- elseif type(self.extedit) == "function" then
							%> onclick="location.href='<%=self:extedit(section)%>'"
							<%- end
							%> alt="<%:Edit%>" title="<%:Edit%>" />
							<%- if ifname == "wlan0" then
								local enabled = self.map.uci:get(self.config, section, "enabled") or "1"
								if enabled and enabled == "1" then-%>
									<input class="cbi-button cbi-button-edit" type="button" value="<%:Scan%>" style="margin-left: 10px; margin-bottom: 0px;"
									onclick="location.href='<%=luci.dispatcher.build_url("admin/network/wireless_join")%>?device=radio0'"/>
							<%- 	end
							end -%>
						<%- end;
							if self.addremove_except and tonumber(self.addremove_except) == i then -%>
							<%- else
							if self.addremove then -%>
								<input class="cbi-button cbi-button-remove" type="submit" value="<%:Delete%>"  onclick="this.form.cbi_state='del-section'; return true" name="cbi.rts.<%=self.config%>.<%=k%>" alt="<%:Delete%>" title="<%:Delete%>" />
							<%- end -%>
						<%- end -%>
					</td>
				<%- end -%>
			</tr>
			<%- end -%>
			<%- end -%>

			<%- if isempty then -%>
			<tr class="cbi-section-table-row">
				<%- if self.novaluetext then -%>
					<td style="padding:20px 0 20px 10px;" colspan="<%=count%>"><em><%=self.novaluetext%></em></td>
				<%- else -%>
					<td style="padding:20px 0 20px 10px;" colspan="<%=count%>"><em><%=translate("This section contains no values yet")%></em></td>
				<%- end -%>
			</tr>
			<%- end -%>
		</table>

		<% if self.error then %>
			<div class="cbi-section-error">
				<ul><% for _, c in pairs(self.error) do for _, e in ipairs(c) do -%>
					<li><%=pcdata(e):gsub("\n","<br />")%></li>
				<%- end end %></ul>
			</div>
		<% end %>

		<%- if self.addremove then -%>
			<% if self.template_addremove then include(self.template_addremove) else -%>
			<div class="cbi-section-create cbi-tblsection-create">
				<% if self.anonymous then %>
					<input class="cbi-button cbi-button-add" style="margin: 0px; margin-left: 10px;" type="submit" value="<%:Add%>" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" title="<%:Add%>" />
				<% else %>
					<% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
					<input type="text" class="cbi-section-create-name" id="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" />
					<script type="text/javascript">cbi_validate_field('cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>', true, 'uciname');</script>
					<input class="cbi-button cbi-button-add" style="margin: 0px;" type="submit" onclick="this.form.cbi_state='add-section'; return true" value="<%:Add%>" title="<%:Add%>" />
					<% if self.invalid_cts then -%>
						<br /><%:Invalid%></div>
					<%- end %>
				<% end %>
			</div>
			<%- end %>
		<%- end -%>
	</div>
</fieldset>
<!-- /tblsection -->
