<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008-2011 Jo-Philipp Wich <xm@subsignal.org>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: index.htm 8408 2012-04-02 22:50:26Z jow $

-%>

<%
require "teltonika_lua_functions"
eventlog = require'tlt_eventslog_lua'
local curdev = luci.dispatcher.context.requestpath
    curdev = curdev[#curdev] ~= "log" and curdev[#curdev] or "all"

local number
local time
local action
local result
local index = 0
local line
local event
local sysEvent
local netEvent
local sysTable = {}
local netTable = {}
local eventTable = {}
local Table = {}

-%>

<%+header%>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript" src="<%=resource%>/Dable.js"></script>

<h2><a id="content" name="content"><%=translate("Events Log")%></a></h2>

<!--<ul class="cbi-tabmenu">

	<li class="cbi-tab<%= "all" == curdev and "" or "-disabled" %>"><a href="<%=pcdata("all")%>"><%="All"%></a></li>
	<li class="cbi-tab<%= "auth" == curdev and "" or "-disabled" %>"><a href="<%=pcdata("auth")%>"><%="Authentication"%></a></li>
	<li class="cbi-tab<%= "reboot" == curdev and "" or "-disabled" %>"><a href="<%=pcdata("reboot")%>"><%="Reboot"%></a></li>
	<li class="cbi-tab<%= "mob" == curdev and "" or "-disabled" %>"><a href="<%=pcdata("mob")%>"><%="SMS/Call"%></a></li>
	<li class="cbi-tab<%= "config" == curdev and "" or "-disabled" %>"><a href="<%=pcdata("config")%>"><%="Configuration"%></a></li>
	<li class="cbi-tab<%= "dhcp" == curdev and "" or "-disabled" %>"><a href="<%=pcdata("dhcp")%>"><%="DHCP"%></a></li>

</ul>-->

<fieldset>
	<legend><%=translate("Events Log")%></legend>
	<div id="loading" style="display: inline;">
		<span style="position: relative; bottom: 12px;"> Loading... </span>
		<img src="/luci-static/resources/icons/loading.gif" alt="Loading">
	</div>
<%
if curdev == "allevent" then
	t = {requests = "print", table = "ALL", date = "1"}
	eventTable = eventlog:print(t)
end

%>

<div id="TableDable" style="display: none">
	<table id="tablepaging" class="yui" align="center" width="100%" cellspacing="10" >
		<thead>
			<tr>
				<th class="cbi-section-table-cell" width="10%" onmouseover="ShowHint(this, '<%=translate('Event identification number')%>')" onmouseout="HideHint(this)"><%=translate("ID")%></th>
				<th class="cbi-section-table-cell" width="30%" onmouseover="ShowHint(this, '<%=translate('Date when event was registered')%>')" onmouseout="HideHint(this)"><%=translate("Date")%></th>
				<th class="cbi-section-table-cell" width="20%" onmouseover="ShowHint(this, '<%=translate('Event action group')%>')" onmouseout="HideHint(this)"><%=translate("Event type")%></th>
				<th class="cbi-section-table-cell" width="40%" onmouseover="ShowHint(this, '<%=translate('Detailed event result')%>')" onmouseout="HideHint(this)"><%=translate("Event")%></th>
			</tr>
		</thead>
		<tbody>
			<%
			for i = #eventTable, 1, -1 do
				if eventTable[i][3] == "WiFi" or eventTable[i][3] == "Mobile Data" or eventTable[i][3] == "Network Type" then
					number = eventTable[i][1].."N"
				else
					number = eventTable[i][1].."S"
				end
				%>
					<tr class="cbi-section-table-row">
						<td class="cbi-section-table-cell" width="10%"><%=escapeHTML(number)%></td>
						<td class="cbi-section-table-cell" width="30%"><%=escapeHTML(eventTable[i][2])%></td>
						<td class="cbi-section-table-cell" width="20%"><%=escapeHTML(eventTable[i][3])%></td>
						<td class="cbi-section-table-cell" width="40%"><%=escapeHTML(eventTable[i][4])%></td>
					</tr>
			<% end %>

			<% if #eventTable < 1 then %>
				<tr class="cbi-section-table-row">
				<td style="padding:20px 0 20px 10px;" colspan="3"><em><%=translate("There are no records yet.")%></em></td><td></td><td></td>
			<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">

var dable = new Dable("TableDable");
AddWindowOnLoadEvent(hide);

function hide(){
	var e = document.getElementById("loading");
	e.setAttribute('style', 'display: none;');
}

</script>

</fieldset>


<%+footer%>
