<%+cbi/valueheader%>
<%
local uci = require "luci.model.uci".cursor()
local sqlite = require "lsqlite3"
local sys = require "luci.sys"
local dbPath = "/usr/lib/operators/"
local dbName = "operators.db"
local dbFullPath = dbPath .. "" ..dbName

list = {}
countryCode = ""

if fileExists(dbPath, dbName) then
	local command = io.popen("/usr/sbin/gsmctl -f") or ""
	local code = command:read("*l") or ""
	countryCode = string.match(code, "%d+")
	local db = sqlite.open(dbFullPath)
	local query = "SELECT rowid,* FROM operators"
	local stmt = db:prepare(query)
	if stmt then
		for row in db:nrows(query) do
			list[#list+1] = row
		end
	end
	if countryCode then
		countryCode = string.sub(countryCode, 1, 3)
	end
	db:close()
end


cfg_country = uci:get("simcard", "sim1", "country") or countryCode
cfg_profile = uci:get("simcard", "sim1", "profile") or ""

%>
<script type="text/javascript">
	var operator_json = <%=luci.http.write_json(list)%>;
	var countryCode = "<%=countryCode%>";

	function changeCountry(code, profile) {
		if(code == null || code == "")
			return;
		var select_elem = document.getElementById("cbid.simcard.sim1.country");
		var opts = select_elem.options;
		for(var opt, j = 0; opt = opts[j]; j++) {
			if(opt.value == code) {
				select_elem.selectedIndex = j;
				break;
			}
		}
		changeCountryOperators(code);
		if(profile != null) {
			changeCountryOperator(profile);
		} else {
			fill_fields();
		}
	}

	function changeCountryOperators(code) {
		if(code == null || code == "")
			return;
		var select_elem = document.getElementById("cbid.simcard.sim1.profile");
		select_elem.innerHTML="";
		add_select_elem(select_elem, "cbi-simcard-sim1-profile-none", "none", "None");
		for(var i = 0; i < operator_json.length; i++) {
			if(operator_json[i].code == code) {
				add_select_elem(select_elem, "cbi-simcard-sim1-profile-" + operator_json[i].rowid, operator_json[i].rowid, operator_json[i].network);
			}
		}
	}

	function changeCountryOperator(code) {
		if(code == null || code == "")
			return;
		var select_elem = document.getElementById("cbid.simcard.sim1.profile");
		var opts = select_elem.options;
		for(var opt, j = 0; opt = opts[j]; j++) {
			if(opt.value == code) {
				select_elem.selectedIndex = j;
				fill_fields(select_elem.value);
				break;
			}
		}
	}

	function add_select_elem(select_elem, id, value, text) {
		var option = document.createElement("option");
		option.id = id;
		option.value = value;
		option.text = text;
		select_elem.add(option);
	}

	function fill_fields(rowid) {
		if(rowid != null && rowid != "none") {
			for(i = 0; i < operator_json.length; i++) {
				if(operator_json[i].rowid == rowid) {
					set_value("apn", operator_json[i].APN);
					set_value("dialnumber", operator_json[i].dialNumber);
					set_value("password", operator_json[i].password);
					set_value("username", operator_json[i].userName);
					break;
				}
			}
		} else {
			set_value("apn", "");
			set_value("dialnumber", "");
			set_value("password", "");
			set_value("username", "");
		}
	}

	function set_value(name, value) {
		var full_name = "cbid.<%=self.config%>.<%=section%>." + name;
		e = document.getElementById(full_name);
		if(e) {
			e.value = value;
		} else {
			for(var i = 0; i < cbi_d.length; i++) {
				var input = cbi_d[i].node.getElementsByTagName("input");
				for(var n = 0; n < input.length; n++) {
					if(input[n].id == full_name) {
						input[n].value = value;
					}
				}
			}
		}
	}

	AddWindowOnLoadEvent(function(){changeCountry("<%=cfg_country%>", "<%=cfg_profile%>");});
</script>
<select class="cbi-input-select" onchange="cbi_d_update(this.id);fill_fields(this.value);" id="cbid.simcard.sim1.profile" name="cbid.simcard.sim1.profile" size="1">
	<option id="cbi-simcard-sim1-profile-none" value="none">None</option>
</select>
<%+cbi/valuefooter%>
