<%+cbi/valueheader%>
<%
	local show = require("luci.tools.status").show_mobile()
	local uci = require "luci.model.uci".cursor()
	local selected = uci:get(self.config, section, self.option)
	local list_options = {
		{value = "extrad", name = "External radius", selected = false, users_edit = false, session_edit = true},
		{value = "intrad", name = "Internal radius", selected = false, users_edit = false, session_edit = true},
		{value = "norad", name = "Without radius", selected = false, users_edit = true, session_edit = true},
		{value = "add", name = "Advertisement", selected = false, users_edit = false, session_edit = false},
		{value = "mac", name = "MAC auth", selected = false, users_edit = false, session_edit = true}
	}
	if show then
		table.insert(list_options, {value = "sms", name = "SMS OTP", selected = false})
	end

%>
<script type="text/javascript">
	var list_options = [
		{value : "extrad", users_edit : false, session_edit : false, session_create : false, cust_sesions : false},
		{value : "intrad", users_edit : false, session_edit : false, session_create : false, cust_sesions : false},
		{value : "norad", users_edit : true, session_edit : true, session_create : true, cust_sesions : true},
		{value : "add", users_edit : false, session_edit : false, session_create : false, cust_sesions : false},
		{value : "mac", users_edit : false, session_edit : true, session_create : false, cust_sesions : false},
		{value : "sms", users_edit : false, session_edit : true, session_create : false, cust_sesions : false}
	];

	function select_option(list_options, value){
		for (i=0; i <= list_options.length-1; i++){
			if (value == list_options[i].value)
				return list_options[i];
		}
	}
	function show_hide(element, disp){
		var value = ""

		if (element){
			value = disp ? "" : "none";
			element.style.display = value;
		}
	}

	function show_hide_sessions(disp){
		var elements = document.getElementById("cbi-coovachilli-session").getElementsByTagName("tr");

		if (elements) {
			for (i=2; i < elements.length - 2; i++){
				show_hide(elements[i], disp);
			}
		}
	}

	function visible(value) {
		var option = select_option(list_options, value);
		var prefix = '<%="cbi-".. self.config .. "-"%>';
		var usr_element = document.getElementById(prefix + "users");
		var ses_element = document.getElementById(prefix + "session");
		var crt_element = document.getElementById("custom-create-session");

		show_hide(usr_element, option.users_edit);
		show_hide(ses_element, option.session_edit);
		show_hide(crt_element, option.session_create);
		show_hide_sessions(option.cust_sesions);
	}

	document.addEventListener('DOMContentLoaded', function() {
	e = document.getElementById("<%=cbid%>");
   if (e){
		visible(e.value);
   }
}, false);
</script>
	<select class="cbi-input-select" onchange="cbi_d_update(this.id)" onclick="visible(this.value)" id="<%=cbid%>" name="<%=cbid%>" size="1">
		<% for i, val in ipairs(list_options) do
		if selected == val.value then
			val.selected = true
		end%>
		<option id="<%=cbid%>-<%=val.value%>" value="<%=val.value%>" <%= ifattr(val.selected, "selected", "selected")%> ><%=val.name%></option>
	<% end	%>
	</select>

<%+cbi/valuefooter%>
