<%
local uci = require "luci.model.uci".cursor()
local in_out = uci:get("hwinfo","hwinfo","in_out") or "0"
local gps = uci:get("hwinfo","hwinfo","gps") or "0"

%>
<script type="text/javascript">
	var checkboxes = document.getElementsByClassName("cbi-input-checkbox");
	var main_checkbox = document.getElementById("select_all_sms");
	var checked = false;	
	
	for(var i=0, n=checkboxes.length;i<n;i++) {
		if (checkboxes[i].checked){
			checked = true;
			break;
		}
	}
	
	if (main_checkbox)
		main_checkbox.children[0].checked = checked;
	
</script>
<div class="cbi-section-create cbi-tblsection-create">
	<legend><%=translate("New SMS Rule")%></legend>
	<br />
	<table class="cbi-section-table" style="width:100%;">
		<tr class="cbi-section-table-descr">
			<th class="cbi-section-table-cell"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('The action to be performed when a rule is met')%>')"</span><%=translate("Action")%></th>
			<th class="cbi-section-table-cell"></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td class="cbi-section-table-cell" style="width:110px">
				<select class="cbi-input-select" id="_newinput.action" name="_newinput.action" style="float:left;">
					<option value="reboot"><%=translate("Reboot")%></option>
					<option value="send_status"><%=translate("Get status")%></option>
					<% if in_out == "1" then %>
						<option value="iostatus"><%=translate("Get I/O status")%></option>
					<% end %>
					<option value="vpnstatus"><%=translate("Get OpenVPN status")%></option>
					<option value="wifi"><%=translate("Switch WiFi on/off")%></option>
					<option value="mobile"><%=translate("Switch mobile data on/off")%></option>
					<option value="change_mobile_settings"><%=translate("Change mobile data settings")%></option>
					<option value="list_of_profile"><%=translate("Get list of profiles")%></option>
					<option value="change_profile"><%=translate("Change profile")%></option>
					<option value="vpn"><%=translate("Manage OpenVPN")%></option>
					<% if in_out == "1" then %>
						<option value="dout"><%=translate("Switch output on/off")%></option>
					<% end %>
					<option value="ssh_access"><%=translate("SSH access control")%></option>
					<option value="web_access"><%=translate("Web access control")%></option>
					<option value="firstboot"><%=translate("Restore to default")%></option>
					<option value="switch_sim"><%=translate("Force SIM switch")%></option>
					<% if gps == "1" then %>
						<option value="gps"><%=translate("Switch GPS on/off")%></option>
						<option value="gps_coordinates"><%=translate("Get GPS coordinates")%></option>
					<% end %>
					<option value="fw_upgrade"><%=translate("FW upgrade from server")%></option>
					<option value="config_update"><%=translate("Config update from server")%></option>
					<option value="monitoring"><%=translate("Switch monitoring on/off")%></option>
					<option value="monitoring_status"><%=translate("Monitoring status")%></option>
					<option value="uci"><%=translate("UCI API")%></option>
				</select>
			</td>
			<td class="cbi-section-table-cell">
				<input type="submit" class="cbi-button cbi-button-add" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" value="<%:Add%>" />
			</td>
		</tr>
	</table>

</div>
