
<%+header%>
<%
require "teltonika_lua_functions"
require "luci.tools.status"
local sms = luci.tools.status.sms_get()
--luci.http.write_json(sms)

	function read_file()
		local file = "/tmp/response.log"
		local f = io.open(file, "r")
		if f then
			local res = f:read("*l")
			f:close()
			os.remove(file)
			return res
		end
	end
	
	local resp = read_file()
	if resp == "OK" then
	 %>
		<div class="alert-message success"><%=resp%></div>
	<%
	elseif resp  then
	%>
		<div class="alert-message error"><%=resp%></div>
	<%
	end
%>


<script type="text/javascript">//<![CDATA[
	function select_all(){
		var e = document.getElementsByName("cbid.sms_del");
		
		if (e) {
			for (i = 0; i < e.length; i++) {
				if (e[i].checked)
					e[i].checked = false
				else
					e[i].checked = true
			}
		}
	}
//]]></script>

<form method="post" name="cbi" action="<%=luci.dispatcher.build_url('admin/services/sms/sms-del')%>" enctype="multipart/form-data" onreset="return cbi_validate_reset(this)" onsubmit="return cbi_validate_form(this, 'Some fields are invalid, cannot save values!')">
	<div class="cbi-map" id="cbi-sms_utils">
<!-- 		<h2><a id="content" name="content">Manage SMS Messages</a></h2> -->
		
		<fieldset class="cbi-section">
		<legend id="legend"><%=translate("SMS Messages")%> </legend>
			<div class="cbi-section-node" id="cbi-sms_utils-0xc55978">
				<div id="TableDable">
					<table id="tablepaging">
						<thead>
						<tr style=" background-color: #f5f5f5; ">
							<th style="width: 150px;"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Date (year-month-day hour-minute-second) when message was received')%>')"</span><b><%=translate("Date")%></b></th>
							<th style="width: 150px;"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('A phone number the message was received from')%>')"</span><b><%=translate("Sender")%></b></th>
							<th span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Message content')%>')"</span><b><%=translate("Message")%></b></th>
							<th  style="width: 30px;"></th>
						</tr>
						</thead>
						<tbody>
						<% if table.getn(sms) > 0 then
							local sms_date
							for i, msg in ipairs(sms) do
								sms_date = os.date("%Y-%m-%d %H:%M:%S",msg.date)%>
								<tr <%= ifattr((i%2)==0, "style", "background-color: #f5f5f5;")%>>
									<%if msg.status == "unread" or msg.status == "Unread" then%>  	
										<td style="font-weight: bold;"><%=escapeHTML(sms_date)%></td>
										<td style="font-weight: bold;"><%=escapeHTML(msg.sender)%></td>
										<td style="font-weight: bold;"><%=escapeHTML(msg.text)%></td>
										<td style="font-weight: bold;"><input class="cbi-input-checkbox" onclick="cbi_d_update(this.id)" onchange="cbi_d_update(this.id)" type="checkbox"  name="cbid.sms_del" value="<%=msg.index%>" style="margin-rigth:10px;" ></td>
									<%else%>
										<td><%=escapeHTML(sms_date)%></td>
										<td><%=escapeHTML(msg.sender)%></td>
										<td><%=escapeHTML(msg.text)%></td>
										<td><input class="cbi-input-checkbox" onclick="cbi_d_update(this.id)" onchange="cbi_d_update(this.id)" type="checkbox"  name="cbid.sms_del" value="<%=msg.index%>" style="margin-rigth:10px;" ></td>
									<%end%>
								</tr>
						<%	end%>
						<% else %>
							<tr>
								<td style="font-weight: bold;">There are no messages</td>
								<td style="font-weight: bold;"></td>
								<td style="font-weight: bold;"></td>
								<td style="font-weight: bold;"></td>
							</tr>
						<%end%>
						</tbody>
					</table>
				</div>
			</div>
			<br>
		</fieldset>
		<br>
	</div>
	<div>
		<input class="cbi-button cbi-button-save" type="button" value="Select all" onclick="select_all();">
		<input class="cbi-button cbi-button-save" type="submit" value="Delete" style="margin-right: 5px;">
		<input class="cbi-button cbi-button-save" type="button" value="Refresh" onclick="location.reload();" style="margin-right: 5px;">
		
	</div>
</form>
<script type="text/javascript" src="<%=resource%>/Dable.js"></script>
<script type="text/javascript">

var dable = new Dable("TableDable");
</script>
<%+footer%>
