<%
	Value = luci.util.trim(luci.sys.exec("uci get -q "..self.config.."."..self.indicator.."."..self.option))
	does_exist = tonumber(luci.sys.exec("uci get -q "..self.config.."."..self.indicator.."."..self.option.." ; echo $?"))
	if does_exist == 1 then
		Value = self.default
	else
		Value = luci.sys.exec("uci get -q "..self.config.."."..self.indicator.."."..self.option)
	end
	if Value == " \n"then
		Value = ""
	end
	local show = luci.tools.status.show_mobile()
	local gps = luci.tools.status.gps_on()
%>
<%+cbi/valueheader%>
	<% if self:cfgvalue(section) ~= false then %>
	<head>
		<style>
			table td{border:none; padding: 0px 0px 0px 10px; line-height: 13px; font-size: 12px; width: 50%; color: #808080; text-align:justify;}
		</style>
	</head>
	<fieldset class="cbi-section">
		<div style="display: inline; ">
		<div>
		<textarea style="float: left; resize: none;" id="cbid.<%=self.config%>.<%=self.indicator%>.<%=self.option%>" name="cbid.<%=self.config%>.<%=self.indicator%>.<%=self.option%>"rows="<%=self.rows%>"><%=Value%></textarea>
		</div>
		<div>
		<table style="width:55%; float: left;" border="0">
			<tr>
				<td><%=translate("Time stamp - %ts")%></td>
				<td><%=translate("Router name - %rn")%></td>
			<tr>
				<td><%=translate("Serial number - %sn")%></td>
				<td><%=translate("WAN MAC address - %wm")%></td>
			<tr>
				<td><%=translate("LAN MAC address - %lm")%></td>
				<td><%=translate("Curren FW version - %fc")%></td>
			<% if show then%>
			<tr>
				<td><%=translate("Connection state - %cs")%></td>
				<td><%=translate("Operator name - %on")%></td>
			<tr>
				<td><%=translate("Connection type - %ct")%></td>
				<td><%=translate("Signal strength - %ss")%></td>
			<tr>
				<td><%=translate("SIM slot in use - %su")%></td>
				<td><%=translate("IMSI - %im")%></td>
			<% end %>
			<tr>
				<td><%=translate("Event type - %et")%></td>
				<td><%=translate("Event text - %ex")%></td>
			<tr>
				<td><%=translate("FW available on server - %fs")%></td>
				<td><%=translate("LAN IP - %li")%></td>
			<tr>
				<td><%=translate("Network state - %ns")%></td>
				<% if show then%>
					<td><%=translate("WAN IP address - %wi")%></td>
				<% end %>
			<tr>
				<% if gps then%>
					<td><%=translate("GPS info - %gs")%></td>
				<% end %>
				<td><%=translate("New line - %nl")%></td>
		</table>
		</div>
		</div>
	</fieldset>
	<% else %>
		-
	<% end %>
<%+cbi/valuefooter%>
