<%
local uci = require "luci.model.uci".cursor()

antype = "noanalogrule"
uci:foreach("ioman", "rule", function(s)
			if s.type == "analog" then
				--luci.sys.call("echo \"" .. "ISanalog" .. "\" >> /tmp/log/cbi.log")
				antype = s.analogtype
				end
			end)
%>

<script type="text/javascript">
	var antype = '<%=translate(antype)%>';
</script>

<script type="text/javascript">
	function triger(){
		if(document.getElementById('_newinput.type').value == "digital1"){
			document.getElementById('_newinput.triger').disabled = false;
			document.getElementById('_newinput.triger').style.display="";
			document.getElementById('_newinput.triger2').disabled = true;
			document.getElementById('_newinput.triger2').style.display="none";
			document.getElementById('_newinput.triger3').disabled = true;
			document.getElementById('_newinput.triger3').style.display="none";
			document.getElementById('_newinput.analogtype').disabled = true;
			document.getElementById('_newinput.analogtype').style.display="none";
			document.getElementById('_newinput.analogtype_cell').disabled = true;
			document.getElementById('_newinput.analogtype_cell').style.display="none";
			document.getElementById('_newinput.analogtype_label').disabled = true;
			document.getElementById('_newinput.analogtype_label').style.display="none";
		}else if(document.getElementById('_newinput.type').value == "digital2"){
			document.getElementById('_newinput.triger').disabled = true;
			document.getElementById('_newinput.triger').style.display="none";
			document.getElementById('_newinput.triger2').disabled = false;
			document.getElementById('_newinput.triger2').style.display="";
			document.getElementById('_newinput.triger3').disabled = true;
			document.getElementById('_newinput.triger3').style.display="none";
			document.getElementById('_newinput.analogtype').disabled = true;
			document.getElementById('_newinput.analogtype').style.display="none";
			document.getElementById('_newinput.analogtype_cell').disabled = true;
			document.getElementById('_newinput.analogtype_cell').style.display="none";
			document.getElementById('_newinput.analogtype_label').disabled = true;
			document.getElementById('_newinput.analogtype_label').style.display="none";
		}else if(document.getElementById('_newinput.type').value == "analog"){
			document.getElementById('_newinput.triger').disabled = true;
			document.getElementById('_newinput.triger').style.display="none";
			document.getElementById('_newinput.triger2').disabled = true;
			document.getElementById('_newinput.triger2').style.display="none";
			document.getElementById('_newinput.triger3').disabled = false;
			document.getElementById('_newinput.triger3').style.display="";
			document.getElementById('_newinput.analogtype').disabled = false;
			document.getElementById('_newinput.analogtype').style.display="";
			document.getElementById('_newinput.analogtype_cell').disabled = false;
			document.getElementById('_newinput.analogtype_cell').style.display="";
			document.getElementById('_newinput.analogtype_label').disabled = false;
			document.getElementById('_newinput.analogtype_label').style.display="";
		prechooseanalog();
		}
	}

	function prechooseanalog(){
		if(antype != "noanalogrule"){	
			if(document.getElementById('_newinput.analogtype').value != antype){
				document.getElementById('_newinput.analogtype').value = antype;
				document.getElementById('_newinput.analogtype').selected = antype;
				toggleanaloghint();
			}
		}
	}

	function toggleanaloghint(){
		if(document.getElementById('_newinput.analogtype').value == "voltagetype"){
			document.getElementById('_newinput.resistor_comment').disabled = true;
			document.getElementById('_newinput.resistor_comment').style.display="none";
			document.getElementById('_newinput.resistor_comment_label').disabled = true;
			document.getElementById('_newinput.resistor_comment_label').style.display="none";
		}else if(document.getElementById('_newinput.analogtype').value == "currenttype"){
			document.getElementById('_newinput.resistor_comment').disabled = false;
			document.getElementById('_newinput.resistor_comment').style.display="";
			document.getElementById('_newinput.resistor_comment_label').disabled = false;
			document.getElementById('_newinput.resistor_comment_label').style.display="";
		}
	}

	function checkandwarnanalog(){
		if(antype != "noanalogrule"){
			if(document.getElementById('_newinput.analogtype').value != antype){
				document.getElementById('_newinput.analogwarining').style.display="";
			}
		}
	}

</script>

<div class="cbi-section-create cbi-tblsection-create">
	<legend><%=translate("Input Configuration")%></legend>
	<br />
	<table class="cbi-section-table" style="width:100%;">

		<tr class="cbi-section-table-descr">
			<th class="cbi-section-table-cell" onmouseover="ShowHint(this, '<%=translate('Select input type of input rule')%>')" onmouseout="HideHint(this)"><%=translate("Input type")%></th>
			<th class="cbi-section-table-cell" onmouseover="ShowHint(this, '<%=translate('Select analog measurement type')%>')" onmouseout="HideHint(this)" style="display:none;" id="_newinput.analogtype_label"><%=translate("Analog type")%></th>
			<th class="cbi-section-table-cell" onmouseover="ShowHint(this, '<%=translate('Select trigger of input rule')%>')" onmouseout="HideHint(this)"><%=translate("Trigger")%></th>
			<th class="cbi-section-table-cell" onmouseover="ShowHint(this, '<%=translate('Select action of input rule')%>')" onmouseout="HideHint(this)"><%=translate("Action")%></th>
			<th class="cbi-section-table-cell"></th>
			<th class="cbi-section-table-cell" id="_newinput.resistor_comment_label" style="display:none;"></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td class="cbi-section-table-cell" style="width:110px">
				<select class="cbi-input-select" id="_newinput.type" name="_newinput.type" onchange="triger();prechooseanalog();" style="float:left;">
					<option value="digital1"><%=translate("Digital")%></option>
					<option value="digital2"><%=translate("Digital isolated")%></option>
					<option value="analog"><%=translate("Analog")%></option>
				</select>
			</td>
			<td class="cbi-section-table-cell" id="_newinput.analogtype_cell" style="width:110px;display:none;" >
				<select id="_newinput.analogtype" name="_newinput.analogtype" class="cbi-input-select" onchange="checkandwarnanalog();prechooseanalog();toggleanaloghint();" style="float:left;">
					<option value="voltagetype"><%=translate("Analog Voltage")%></option>
					<option value="currenttype"><%=translate("Analog Current")%></option>
				</select>
			</td>
			<td class="cbi-section-table-cell" style="width:110px">
				<select class="cbi-input-select" id="_newinput.triger" name="_newinput.triger" style="float:left;">
					<option value="no" id="no"><%=translate("Input open")%></option>
					<option value="nc" id="nc"><%=translate("Input shorted")%></option>
					<option value="both" id="both"><%=translate("Both")%></option>
				</select>
				<select class="cbi-input-select" id="_newinput.triger2" name="_newinput.triger2" style="float:left;display:none;" disabled>
					<option value="no" id="no1"> <%=translate("Low logic level")%></option>
					<option value="nc" id="nc1"> <%=translate("High logic level")%></option>
					<option value="both" id="both1"> <%=translate("Both")%></option>
				</select>
				<select class="cbi-input-select" id="_newinput.triger3" name="_newinput.triger3" style="float:left;display:none;" disabled>
					<option value="in" id="in"> <%=translate("Inside range")%></option>
					<option value="out" id="out"> <%=translate("Outside range")%></option>
				</select>
			</td>
			<td class="cbi-section-table-cell" style="width:110px">
 				<select class="cbi-input-select" id="_newinput.action" name="_newinput.action" onchange="triger()" style="float:left;">
					<% if luci.tools.status.show_mobile() then %>
						<option value="sendSMS"><%=translate("Send SMS")%></option>
						<option value="changeSimCard"><%=translate("Change SIM card")%></option>
					<% end %>
					<option value="sendEmail"><%=translate("Send email")%></option>
					<option value="changeProfile"><%=translate("Change profile")%></option>
					<option value="wifion"><%=translate("Turn on WiFi")%></option>
					<option value="wifioff"><%=translate("Turn off WiFi")%></option>
					<option value="reboot"><%=translate("Reboot")%></option>
					<option value="output"><%=translate("Output")%></option>
					<option value="postGet"><%=translate("HTTP POST/GET")%></option>
				</select>
			</td>
			<td class="cbi-section-table-cell">
				<input type="submit" class="cbi-button cbi-button-add" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" value="<%:Add%>" />
			</td>
			<td class="cbi-section-table-cell" id="_newinput.resistor_comment" style="display:none;vertical-align:middle;color:#000000; word-wrap:break-word;font-size:15px; " onmouseover="document.getElementById('place-holder-1').style.display='';" onmouseout="document.getElementById('place-holder-1').style.display='none';"><a href="<%=resource%>/icons/resistor_hint.png" target="_blank" style="color:rgb(0,0,0)">
			<img src="<%=resource%>/icons/resistor_hint.png" id="place-holder-1" style="z-index:2; max-width: 320px; display:none; position:absolute;align:right;" /><%=translate("Hint: A resistor shunt of 1.2k&Omega; must be used")%> 
			
			</td>
		</tr>
	</table>
	<p type="text" id="_newinput.analogwarining" style="display:none;z-index:1;" class="alert-message warning" readonly> <%=translate("Warning: Only one type of analog input rule can be used: Voltage OR Current. Please delete non-matching type before adding new rule.")%> </p>
</div>


