<%+cbi/valueheader%>
<head>
    <style>
        table td{border:none; padding: 0px 0px 0px 10px; line-height: 13px; font-size: 12px; width: 50%; color: #808080; text-align:justify;}
    </style>
</head>
<fieldset class="cbi-section" style="float:left; width:200%">
    <div style="float:left; width:150%">
        <div style="float:left;">
            <%
            local vals = self:cfgvalue(section) or {}
            for i=1, #vals + 1 do
            local val = vals[i]
            if (val and #val > 0) or (i == 1) then
            %>
            <input class="cbi-input-text" value="<%=pcdata(val)%>" onchange="cbi_d_update(this.id)" type="text"<%=
            attr("id", cbid .. "." .. i) .. attr("name", cbid) .. ifattr(self.size, "size") ..
            ifattr(i == 1 and self.placeholder, "placeholder", self.placeholder)
            %> /><br />
            <% end end %>
        </div>
            <table style="width:auto; float: left;" border="0">
                <tr>
                    <td><%=translate("%ts - Time stamp")%></td>
                <tr>
                    <td><%=translate("%rn - Router name")%></td>
                <tr>
                    <td><%=translate("%sn - Serial number")%></td>
                <tr>
                    <td><%=translate("%wm - WAN MAC address")%></td>
                <tr>
                    <td><%=translate("%lm - LAN MAC address")%></td>
                <tr>
                    <td><%=translate("%fc - Current FW version")%></td>
                <tr>
                    <td><%=translate("%wi - WAN IP address")%></td>
                <tr>
                    <td><%=translate("%li - LAN IP address")%></td>
                <tr>
                    <td><%=translate("%an - Analog min range value")%></td>
                <tr>
                    <td><%=translate("%ax - Analog max range value")%></td>
                <tr>
                    <td><%=translate("%di - Digital input status")%></td>
                <tr>
                    <td><%=translate("%ii - Isolated digital input status")%></td>
                <tr>
                    <td><%=translate("%ai - Analog input value")%></td>
                <tr>
                    <td><%=translate("%oc - Open collector output status")%></td>
                <tr>
                    <td><%=translate("%ro - Relay output status")%></td>
                <tr>
                    <td><%=translate("%ms - Monitoring status")%></td>
            </table>
    </div>
</fieldset>
<script type="text/javascript">
    cbi_dynlist_init(
        '<%=cbid%>', '<%=resource%>', '<%=self.datatype%>',
    <%=tostring(self.optional or self.rmempty)%>
    <%- if #self.keylist > 0 then -%>, [{
    <%- for i, k in ipairs(self.keylist) do -%>
    <%-=string.format("%q", k) .. ":" .. string.format("%q", self.vallist[i])-%>
    <%-if i<#self.keylist then-%>,<%-end-%>
    <%-	end	-%>
    }, '<%: -- custom -- %>']<% end -%>);
</script>
<%+cbi/valuefooter%>