<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008 Jo-Philipp Wich <xm@leipzig.freifunk.net>
Copyright 2012 David Menting <david@nut-bolt.nl>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

-%>
<%
	local sys  = require "luci.sys"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"
	local uci = require "luci.model.uci".cursor()
	local ds = require "luci.dispatcher"

	require "teltonika_lua_functions" -- for checking if there's a new firmware version available

	---cli
	local cli = uci:get("cli", "status", "enable")

	local hostname = sys.hostname()
	local profile_name = uci:get("profiles", "profiles", "profile")
	local profile_date = uci:get("profiles", "profiles", "date")
	local profile_path = uci:get("profiles", "profiles", "path")
	local pass_changed = uci:get("teltonika", "sys", "pass_changed") or "0"

	local fw_version = readFile("/etc/version")
	local result = logical_file_exists("/tmp/version_remote")

	local request  = disp.context.path
	local request2 = disp.context.request

	local category = request[1]
	local cattree  = category and disp.node(category)

	local leaf = request2[#request2]

	local tree = disp.node()
	local node = disp.context.dispatched

	local categories = disp.node_childs(tree)

	local c = tree
	local i, r

	local function getParam(cmd)
		local h = io.popen(cmd)
		local t = h:read()
		h:close()
		return t
	end

	local function configHasChanged(name, date, path)
		local md5cur = getParam("md5sum /etc/config/* /etc/shadow | grep -v profiles | md5sum")
		local md5org = getParam(string.format("cat %s/%s_%s.md5", path, name, date))
		if md5cur ~= md5org then
			return 1
		end
	end

	-- tag all nodes leading to this page
	for i, r in ipairs(request) do
		if c.nodes and c.nodes[r] then
			c = c.nodes[r]
			c._menu_selected = true
		end
	end

    -- send as HTML5
	http.prepare_content("text/html")

	local function nodeurl(prefix, name, query)
		local url = controller .. prefix .. name .. "/"
		if query then
			url = url .. http.build_querystring(query)
		end
		return pcdata(url)
	end

	local function subtree(prefix, node, level)
		if not level then
			level = 1
		end

		local childs = disp.node_childs(node)
		if #childs > 0 then

            if level > 2 then
%>
	<ul class="tabs">
		<%
            end

			local selected_node
			local selected_name
			local i, v

			for i, v in ipairs(childs) do
				local nnode = node.nodes[v]
				if nnode._menu_selected then
					selected_node = nnode
					selected_name = v
				end
                if level > 2 then
		%>
			<li class="tabmenu-item-<%=v%><%- if nnode._menu_selected or (node.leaf and v == leaf) then -%>| active<% end %>">
			    <a href="<%=nodeurl(prefix, v, nnode.query)%>"><%=striptags(translate(nnode.title))%></a>
			</li>
		<%      end
			end

            if level > 2 then
		%>
	</ul>
<%          end

			if selected_node then
				subtree(prefix .. selected_name .. "/", selected_node, level + 1)
			end
		end
	end
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
 <head>
  <meta charset="utf-8">
  <title><%=striptags( hostname .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - Web UI</title>
  <!--[if lt IE 9]><script src="<%=media%>/html5.js"></script><![endif]-->
  <script type="text/JavaScript" src="<%=media%>/hints.js"></script>
  <link rel="stylesheet" href="<%=media%>/style.css">
  <link rel="shortcut icon" href="<%=media%>/favicon.ico">
  <% if node and node.css then %><link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
  <% end -%>
  <script src="<%=resource%>/xhr.js"></script>
  <script>
   function AddWindowOnLoadEvent(Func) {
        var objOnLoadOld = window.onload;

        if (typeof window.onload != 'function') {
            window.onload = Func;
        } else {
            window.onload = function() {
                if (objOnLoadOld) {
                    objOnLoadOld();
                }
                Func();
            }
        }
    }
  function AddRefs() {
	var i, objElem;

	objElem = document.getElementsByClassName("menu");
	for (i = 0; i < objElem.length; i++)
		objElem[i].href = "#";
  }

  if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i))) {
	AddWindowOnLoadEvent(AddRefs);
  }

  </script>
 </head>
 <body class="lang_<%=luci.i18n.context.lang%> <%- if node then %><%= striptags( node.title ) %><%- end %>">
  <header>

   <div class="fill">
    <div class="container">
     <a href="<%=ds.build_url('admin/status/overview')%>"><img class="logo" src="/luci-static/resources/logo.png"></img></a>
		 <!--<a class="brand" href="#"></a>-->
     <ul class="nav">

	 <%-
		local function submenu(prefix, node)
			local childs = disp.node_childs(node)
			if #childs > 0 then
	 %>

	 <ul class="dropdown-menu">
			<%-
				for i, r in ipairs(childs) do
					local nnode = node.nodes[r]
					local href  = controller .. prefix .. r ..
						(nnode.query and http.build_querystring(nnode.query) or "")
			%>
	  <%- if nnode._menu_selected or (node.leaf and v == leaf) then -%>
	  <li><a href="<%=pcdata(href)%>"><b><%=pcdata(striptags(translate(nnode.title)))%></b></a></li>
	    <%- elseif (luci.dispatcher.context.requestpath[3] ~= nil) and (luci.dispatcher.context.requestpath[3] == "wireless") and (striptags(translate(nnode.title)) == "Wireless") then -%>
	    <li><a href="<%=pcdata(href)%>"><b><%=pcdata(striptags(translate(nnode.title)))%></b></a></li>
	      <% else %>
				<li><a href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a></li>
	      <% end %>
	    <%-end%>
	</ul>
	<%-
			end
		end

		childs = disp.node_childs(cattree)

		if #childs > 0 then
			for i, r in ipairs(childs) do
				local nnode = cattree.nodes[r]
				local href  = controller .. "/" .. category .. "/" .. r ..
					(nnode.query and http.build_querystring(k.query) or "")
                local grandchildren = disp.node_childs(nnode)

                if #grandchildren > 0 then
	%>
        <li class="dropdown">
		<a class="menu" ><%=pcdata(striptags(translate(nnode.title)))%></a>
            <%- submenu("/" .. category .. "/" .. r .. "/", nnode) %>
        </li>
	<% else %>
         <li>
	        <a class="logout" style="" href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%><img src="/luci-static/resources/cbi/logout.png" style="float:right; padding-left:3px;padding-top: 4px;"></a>
        </li>
    <%
                end
			end
		end

        -- calculate the number of unsaved changes
		if tree.nodes[category] and tree.nodes[category].ucidata then
			local ucichanges = 0

			for i, j in pairs(require("luci.model.uci").cursor():changes()) do
				for k, l in pairs(j) do
					for m, n in pairs(l) do
						ucichanges = ucichanges + 1;
					end
				end
			end
	 end %>

    </div>
   </div>
  </header>

  <%
	if #childs > 0 then
  %>
	  <div class="submeniu" style="margin-bottom: 10px;">
	<div class="container">
		<% if profile_name and profile_date then
			if configHasChanged(profile_name, profile_date, profile_path) then
				profile_name = profile_name .." [modified]"
			end
		%>
		  <ul style="float:left">
			  <li >
				  <div ><%=translate("Profile in use: ")%></div>
			  </li>
			  <li>
				  <a style="color:#b7b7b7" href="<%=luci.dispatcher.build_url("admin/system/profiles")%>" id="profile-link">
				  <%=profile_name%>
				  </a>
			  </li>
		  </ul>
		<% end %>
		  <ul style="float:right">
			  <li>
				  FW ver.: <%=fw_version%>
			  </li>
			  <% if result then %>
				  <li>
					  <a style="border-left: 1px solid #e5e5e5;text-decoration: underline" href="<%=luci.dispatcher.build_url("admin/system/flashops")%>">
					  FW update available
					  </a>
				  </li>
			  <% end %>
		  </ul>
	</div>
	  </div>
  <% end %>

<div id="maincontent" class="container">
<% if pass_changed == "0" and #childs > 0 then
	local path = ds.context.requestpath
	local warning = "You haven't changed the default password for this router."
	local pattern = {"system/wizard", "wizard/step-pwd", "system/admin", "admin/general", "system/password"}

	function is_pass_page(path, pattern)
		local length = #path

		if length > 0 then
			local part = string.format("%s/%s", path[length-1], path[length])

			for i, n in ipairs(pattern) do
				if part == n then
					return false
				end
			end
		else
			local first_login = uci:get("teltonika", "sys", "first_login") or "0"

			if first_login == "1" then
				return false
			end
		end
		return true
	end

	if is_pass_page(path, pattern) then
		local pass_path = luci.dispatcher.build_url("admin/system/password")
		warning = string.format("%s To change router password <a href='%s'>click here</a>.", warning, pass_path)
	end

%>
	<div id="err_message" class="alert-message error"><%=warning%></div>
<% end %>

<% if category then subtree("/" .. category .. "/", cattree) end %>

<script>
	//CLI
	var cli = <%=cli%>
	function OpenInNewTab(url) {
		var win = window.open(url, '_blank');
		win.focus();
	}

	function KeyPress(e) {
		var evtobj = window.event? event : e
		if (evtobj.altKey && evtobj.ctrlKey && evtobj.shiftKey && evtobj.keyCode == 84) {
			var cli_url = "";
			var url = window.location.href;
			if (url.indexOf("proxy") > -1 || url.indexOf("monitoring") > -1) {
				var counter = 0;
				for (i = 0; i < url.length ; i++) {
					if (url[i] == "%") {
						counter++;
						if (counter == 4) {
							break;
						}
					}
					cli_url += url[i];
				}
				cli_url += '/cgi-bin/cli';
			} else {
				cli_url = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/cgi-bin/cli';
			}
			OpenInNewTab(cli_url);
		}
	}

	if (cli == "1") {
		document.onkeydown = KeyPress;
	}
</script>

