<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008-2012 Jo-Philipp Wich <xm@subsignal.org>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: sysauth.htm 8327 2012-03-04 15:03:05Z jow $

-%>

<%
	local sys = require "luci.sys"

	require "luci.fs"
	require "luci.tools.status"
	local ds = require "luci.dispatcher"
	luci.util = require "luci.util"
	local translatef = luci.i18n.translatef

	local showwan= luci.util.trim(luci.sys.exec("uci get -q teltonika.sys.showwan"))
	if showwan == "1" then
		local nw = require "luci.model.network"
		nw.init()
		require "teltonika_lua_functions"
		local has_backupLink = luci.fs.access("/tmp/.mwan/cache")
		local ntm = require "luci.model.network".init()

		if has_backupLink then
			wan = nw:get_network(get_active_connection())
		else
			local dr4 = luci.sys.net.defaultroute()

			if dr4 then
				wan = ntm:get_interface(dr4.device)
				wan = wan and wan:get_network()
			end
		end

		if wan then
			ifname = (wan and wan:ifname()) or "N/A"
			if ifname == "usb0" then
				ipaddr = nw:wimaxCGICall({ call ="extip" }) or "N/A"
			else
				ipaddr = (wan and wan:ipaddr()) or "N/A"
			end
		end
	end

	local shw3g= luci.util.trim(luci.sys.exec("uci get -q teltonika.sys.shw3g"))
	if shw3g == "1" then
		local nw  = require "luci.model.network"
		nw.init()
		local moduleType = luci.util.trim(luci.sys.exec("uci get -q system.module.type"))
		local moduleDev = luci.util.trim(luci.sys.exec("uci get -q network.ppp.device"))

		if moduleDev == "/dev/ttyHS5" then
			moduleDev = false
		else
			moduleDev = true
		end
		if moduleType == "3g" then
			has_3g = true
		end
		if moduleType == "3g_ppp" then
			has_3g_ppp = true
		end

----------- 3G information gathering -------
		if has_3g or has_3g_ppp then
			local data = nw:new_get_info()
			local australian = luci.util.trim(luci.sys.exec("uci get -q overview.show.australian"))
			if (data ~= nil) then
				goper  = data["oper"]
				gsigstr = data["signal"]
				gctype  = data["ntype"]
				grsrp = data["rsrp"]
                                grscp = data["rscp"]
                                
				if gctype ~= nil then
					if gctype:match("^CDMA") or gctype:match("^EDGE") or gctype:match("^GPRS")
					then
						gctype = "2G " .. "(" .. gctype .. ")"
					elseif gctype:match("^WCDMA") or gctype:match("^HSDPA") or gctype:match("^HSUPA") or gctype:match("^HSPA") or gctype:match("^HSPA+")
					then
						gctype = "3G " .. "(" .. gctype .. ")"
					elseif gctype:match("^LTE")
					then
						gctype = "4G " .. "(" .. gctype .. ")"
					end
				end
				if gctype ~= nil then
					if gctype:match("^CDMA") or gctype:match("^EDGE") or gctype:match("^GPRS")
					then
						gctype = "2G " .. "(" .. gctype .. ")"
					elseif gctype:match("^WCDMA") or gctype:match("^HSDPA") or gctype:match("^HSUPA")
					then
						gctype = "3G " .. "(" .. gctype .. ")"
					end
				end
				signal = gsigstr
				if australian == "1" then
                                    if gctype == "4G (LTE)" then
                                        signal = grsrp
                                    else 
                                        signal = grscp
                                    end
                                end
			end
			
		end
	end
%>

<%+header%>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<form name='myForm' method="post"  action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
	<div class="cbi-map">
		<h2><a id="content" name="content"><%=translate("Authorization Required")%></a></h2>
		<div class="cbi-map-descr">
			<%=translate("Please enter your username and password.")%>
			<%- if fuser then %>
			<div class="alert-message error"><%=translate("Invalid username and/or password! Please try again.")%></div>
			<br />
			<% end -%>
		</div>
		<fieldset class="cbi-section"><fieldset class="cbi-section-node">
			<div class="cbi-value">
				<label class="cbi-value-title1"><%=translate("Username")%></label>
				<div class="cbi-value-field1">
					<input class="cbi-input-user" type="text" name="username" value="admin" />
				</div>
			</div>
			<div class="cbi-value cbi-value-last">
				<label class="cbi-value-title1"><%=translate("Password")%></label>
				<div class="cbi-value-field1">
					<input id="focus_password" class="cbi-input-password" type="password" name="password" />
				</div>
			</div>
		</fieldset></fieldset>
	</div>
	<div class="loginpage">
		<input type="submit" value="<%=translate('Login')%>" class="cbi-button cbi-button-apply3" />
	</div>
	 <a hidden>UnikalusTekstinisStringasKitoTokioNiekurNera</a>
	 <!--UnikalusTekstinisStringasKitoTokioNiekurNera yra paieskos raktas jis riekalingas ir neturetu buti istrintas-->
</form>
<script type="text/javascript">//<![CDATA[
	var input = document.getElementById('focus_password');
	if (input)
		input.focus();
//]]></script>

<% if shw3g == "1" then %>
	<div class="cbi-map-descr"></div>
	<h2><a id="content" name="content"><%=translate("Mobile information")%></a></h2>
	<fieldset class="cbi-section">
		<div id="g3BarsShow" class="overlayParent">
			<% local sStr = "/icons/signalnone.png"
				local iNb = tonumber(signal)
				--luci.sys.call("echo \"" .. iNb .. "\" >> /tmp/mobile")
				if iNb ~= nil then
					if iNb == 0 then
						sStr = "/icons/signalnone.png"
					elseif iNb > -60 then
						sStr = "/icons/signal100.png"
					elseif iNb > -67 then
						sStr = "/icons/signal80.png"
					elseif iNb > -75 then
						sStr = "/icons/signal60.png"
					elseif iNb > -82 then
						sStr = "/icons/signal40.png"
					elseif iNb > -90 then
						sStr = "/icons/signal20.png"
					elseif iNb <= -90 then
						sStr = "/icons/signal0.png"
					end
				end %>
			<div class="overlayLegend" "><img id="3gBar0" style="visibility: visible" src="<%=resource..sStr%>" />&#160;<%=translate("Mobile")%></div>
		</div>
		<table id="3gTable" width="100%" cellspacing="10">
			<% sStr = "N/A"
				if goper ~= nil then
					sStr = goper
				end
				if sStr == "" then
					sStr = "N/A"
				end%>
			<tr><td width="33%"><%=translate("Operator")%></td><td id="3gProv"><%=sStr%></td></tr>
			<% sStr = "N/A"
				if gctype ~= nil and string.len(gctype) > 0 then
					sStr = gctype
				end %>
			<tr><td width="33%"><%=translate("Connection type")%></td><td id="3gCType"><%=sStr%></td></tr>
			<% sStr = "N/A"
					if signal ~= nil then
						sStr = signal .. " dBm"
				end %>
			<tr style="border-bottom: 1px solid #DDD;"><td width="33%"><%=translate("Signal strength")%></td><td id="3gStr"><%=sStr%></td></tr>
		</table>
	</fieldset>
<% end %>
<% if showwan == "1" then %>
	<div class="cbi-map-descr"></div>
	<h2><a id="content" name="content"><%=translate("WAN IP address")%></a></h2>
	<fieldset class="cbi-section">
		<div class="overlayLegend"><%=translate("WAN IP")%></div>
		<table id="WanTable" width="100%" cellspacing="10">
			<% if ipaddr == "" or ipaddr == nil then
				ipaddr = "N/A"
			end
			%>
			<tr style="border-bottom: 1px solid #DDD;"><td width="33%"><%=translate("WAN IP")%></td><td><%=ipaddr%></td></tr>
		</table>
		</div>
	</fieldset>
<% end %>

<%+footer%>
